PORT=5000
NODE_ENV=development

CLIENT_URL=http://localhost:5173

DATABASE_URL="postgresql://postgres:tu_password@localhost:5432/sistema_seguridad_nacional?schema=public"

JWT_SECRET=clave_super_secreta
JWT_EXPIRES_IN=8h

ADMIN_SETUP_TOKEN=token_privado_para_crear_admin
