PORT=5000
NODE_ENV=development

CLIENT_URL=http://localhost:5173
CORS_ORIGINS=

DATABASE_URL="postgresql://postgres:TU_PASSWORD@localhost:5432/sistema_seguridad_nacional?schema=public"

JWT_SECRET=CAMBIAR_POR_UNA_CLAVE_SEGURA
JWT_EXPIRES_IN=8h

ADMIN_SETUP_TOKEN=CAMBIAR_POR_UN_TOKEN_PRIVADO
